.b{
    background-image: url("images/background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow-x: hidden;/* hide the flame outside of the screen  */
    position: absolute;
    background-repeat: repeat-x;
    visibility: hidden;
}
.body{
    margin: 0%;
}
.charcter{
    position: absolute;
    width:250px;
    margin-top: 400px;
}

.finish{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute;
    height: 250px;
    margin-top: 470px;
    margin-left: 15000px;
    visibility: hidden;
    
}

.score{
    position: absolute;
    font-size: 80px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 50px;
}
.score2{
    position: absolute;
    font-size: 80px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 360px;
}
.mid{
    width:530px;
    height: 120px;
    position: absolute;
    border: 7px solid black;
    border-radius: 15px;
    padding-left: 0px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: black;
    background:none;
    opacity: 0.9;
}
.bird1{
    position: absolute;
    width: 250px;
    margin-top: 80px;
    margin-left: 1000px;
    
}
.bird2{
    position: absolute;
    width: 200px;
    margin-top: 130px;
    margin-left: 800px;
    
}
.bird3{
    position: absolute;
    width: 150px;
    margin-top: 200px;
    margin-left: 600px;
    
}
.start{
    background-image: url("images/start.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: absolute;
}
.i{
    position: absolute;
    height: 250px;
    margin-top: 440px;
}
.stbtn{
    width:500px;
    height: 100px;
    position: absolute;
    background: none;
    color: azure;
    font-family: Baguet ;
    font-size: 60px;
    border: 5px solid greenyellow;
    border-radius: 30px;
    padding: 5px;
    font-weight: bold;
    margin-top: 500px;
    margin-left: 530px;
    cursor: pointer;
}
.stbtn:hover{
    color:red;
    background-color: rgb(251, 232, 19);
    height: 100px;
    width: 500px;
    border-color: rgb(250, 52, 75);
    cursor: pointer;
    border-radius: 50px;
}
.name{
    margin-top: 350px;
    margin-left: 500px;
    color: yellow;
    position: absolute;
}
.end{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(90deg,#8E0E00 0% , #1F1C18 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
    color: white;
    font-family: "Broadway";
    visibility: hidden;
}
.btn{
    width: 300px;
    height: 35px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 1000;
    background-color: aqua;
    border: none;
    border-radius: 30px;
}
.btn:hover{
    height: 40px;
    width: 310px;
    background-color: rgb(242, 252, 47);
    color:white;
    cursor: pointer;
}